<div id="introBox" class="jumbotron jumbotron-fluid">
  <a class="styled-link" routerLink="/menu">Authentic New York Style Pizza</a>
</div>
<div class="container textBox">
  <h1><a routerLink="/find-us" class="red-link">Check our schedule to see where we are.</a></h1>
  <div class="justify-content-center">
    <img class="imageAdjust" src="assets/images/truck.jpg" alt="">
  </div>
</div>
<div id="truck" class="jumbotron jumbotron-fluid">
  <div class="container textBox">
    <a routerLink="/catering" class="styled-link">Having an event and need catering? Let Us Help!</a>
  </div>
</div>